<app-header></app-header>

<main>
    <ul id="users">
        <!-- here we can user the angular feature name for to render dynamic lists -->
      
            <li *ngFor="let user of users"><app-user [user]="user" [selected]="user.id===selectedUserId" (select)="onSelectUser($event)"/></li>
        

        <!-- <li><app-user [user]="users[1]" (select)="onSelectUser($event)"/></li>
        <li><app-user [user]="users[1]" (select)="onSelectUser($event)"/></li>
        <li><app-user [user]="users[2]" (select)="onSelectUser($event)"/></li>
        <li><app-user [user]="users[3]" (select)="onSelectUser($event)"/></li> -->
      
    </ul>
    @if(selectedUser){
        <app-task [userId]="selectedUser.id" [name]="selectedUser.name"></app-task>
    }@else{
        <p id="fallback">Select The User To See Their Tasks</p>
    }

    <!-- <app-task **ngIf="selectedUser;else elseBlock"></app-task>
    <ng-template #fallback>
        <p id="fallback">Select The User To See Their Tasks</p>
    </ng-template> -->

    

</main>
